@import "~bootstrap/scss/functions";
@import "../../../../src/assets/styles/variables";
@import "~bootstrap/scss/mixins";

.container {
  display: flex;
  column-gap: 1em;
  margin: 0;
  @include list-unstyled();

  .item {
    a {
      color: var(--black);
    }
  }
}
