.topbar {
  a {
    color: inherit;

    &:hover {
      color: $primary-color;
    }
  }
}

.bottombar {
  .email {
    font-size: rem-calc(72);
    font-weight: bold;
    line-height: 1;
    color: black;

    &:hover {
      color: $primary-color;
    }
  }

  .contact {
    color: rgba($black, .4);
  }
}

.section-title {
  font-family: $body-font-family;
  font-size: rem-calc(80);
  font-weight: bold;

    p {
      margin-bottom: -1em;
    }

  * {
    font-size: .5em;
    font-weight: normal;
    line-height: 1;
  }
}

.main .container > .hentry {
  .header {
    h3 {
      transform: scale(.75);
      font-family: $body-font-family;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: .25em;
      line-height: 1;
      color: rgba($black, .38);
    }
  }

  .content {
    p {
      margin-bottom: rem-calc(64);
    }
  }
}
