@import "~bootstrap/scss/functions";
@import "../../../../src/assets/styles/variables";
@import "~bootstrap/scss/mixins";

.container {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  @include make-row();
  @include make-container();
  @include make-container-max-widths();

  .SocialMenu {
    padding: 0;
  }

  .copyright {
    display: none;
    opacity: 0.3;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }
}
