@import "~bootstrap/scss/functions";
@import "../../../../src/assets/styles/variables";
@import "~bootstrap/scss/mixins";

.container {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  justify-content: center;
  @include make-row();
  @include make-container(0);

  .Section__intro {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    @include make-col(12);
    @include make-container-max-widths();

    h1 {
      margin: 1em 0;
      @include make-col-ready(0);
      @include make-col(12);

      @include media-breakpoint-up(sm) {
        font-size: 4.4vw;
      }
      @include media-breakpoint-up(md) {
        font-size: 4.4vw;
        @include make-col(9);
      }
      @include media-breakpoint-up(lg) {
        font-size: 2.5rem;
        @include make-col(8);
      }
      @include media-breakpoint-up(xl) {
        @include make-col(7);
      }

      small {
        display: block;
        margin-bottom: 0.5em;
        font-weight: 500;
      }
    }

    .intro {
      @include make-row();

      p {
        @include make-col-ready();
        @include make-col(12);

        @include media-breakpoint-up(md) {
          @include make-col(4);
        }
      }
    }
  }

  .Section__showcase {
    display: flex;
    flex-wrap: wrap;
  }
}
