@import "~bootstrap/scss/functions";
@import "../../../../src/assets/styles/variables";
@import "~bootstrap/scss/mixins";

$grid-gutter-width: 1.82rem;

.document {
  margin: 3rem 0;
  @include make-container;

  & > div {
    @include make-row();
  }

  @media screen {
    @include make-container-max-widths();

    header {
      display: flex;
    }

    h1 {
      flex: 1 1 100%;
    }
  }

  @media print {
    & {
      padding: 0 3rem;
      margin: 0;
    }

    h1 {
      text-align: center;
    }
  }
}

.contacts {
  text-align: right;
  @include list-unstyled();

  a {
    color: inherit;
  }

  @media print {
    text-align: center;
    @include make-col(4);
    @include row-cols(2);
    @include make-row();
    @include make-container();

    a {
      text-decoration: none;
    }

    article:nth-child(even) {
      text-align: left;

      &::before {
        margin: 0 0.5em;
        content: "•";
      }
    }

    article:nth-child(odd) {
      text-align: right;
    }
  }
}

.statement {
  display: none;

  @media print {
    display: block;
  }
}

.jobs {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(md) {
    @include make-col(8);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(9);
  }
  @media print {
    @include make-col(9);
  }
}

.about {
  @include make-col-ready();
  @include make-col(12);

  @include media-breakpoint-up(md) {
    @include make-col(4);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(3);
  }
  @media print {
    @include make-col(3);
  }
}

article.job,
article.education {
  position: relative;
  padding: $grid-gutter-width/2 0;

  i {
    flex: 1 1 100%;
  }

  .company,
  .school {
    margin: 0;
    font-weight: bold;

    &.company {
      margin-inline-end: 0.25em;

      @include media-breakpoint-up(md) {
        white-space: nowrap;
      }
      @media print {
        white-space: nowrap;
      }
    }
  }

  .location {
    @include media-breakpoint-up(md) {
      white-space: nowrap;
    }
    @media print {
      white-space: nowrap;
    }
  }

  .roleTitle {
    @include media-breakpoint-up(md) {
      white-space: nowrap;
    }
    @media print {
      white-space: nowrap;
    }
  }

  .degree {
    @include media-breakpoint-up(md) {
      white-space: nowrap;
    }
    @media print {
      white-space: nowrap;
    }

    &::before {
      margin: 0 0.5em;
      content: "•";
    }
  }

  .summary {
    display: inline;
  }

  .dates {
    display: inline;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      z-index: 5;
      display: block;
      width: 0.75rem;
      height: 0.75rem;
      content: "";
      background-color: var(--gray);
      border-radius: 100%;
      transform: translate(-($grid-gutter-width - 1rem * 0.25/2), -50%);
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 1rem;
      height: 1rem;
      content: "";
      background-color: var(--gray);
      border: 2.5px solid $light;
      border-radius: 100%;
      transform: translate(-$grid-gutter-width, -50%);
    }
  }

  &.job {
    padding: $grid-gutter-width;
    margin-left: $grid-gutter-width;

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: -$grid-gutter-width * 0.75;
      width: 2px;
      content: "";
      background-color: var(--gray);
    }

    &:last-of-type::before {
      bottom: 50%;
    }

    & > div {
      display: flex;
      flex-wrap: wrap;

      @include media-breakpoint-up(lg) {
        flex-wrap: nowrap;
      }
      @media print {
        flex-wrap: nowrap;
      }
    }

    &.active {
      .dates::before {
        background-color: $dark;
        border: 1px solid $light;
      }

      .dates::after {
        background-color: $dark;
        border-color: $dark;
      }
    }
  }
}

.languages,
.skills {
  ul {
    @include list-unstyled();
  }
}

@media print {
  @page {
    margin: 0;
    overflow: visible;
    size: auto;
  }

  html {
    overflow: initial;
    font-size: 12px;
  }
}
