@import "~bootstrap/scss/functions";
@import "../../../../src/assets/styles/variables";
@import "~bootstrap/scss/mixins";

.container {
  display: flex;
  margin: 0;
  @include list-unstyled();

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .item {
    &:not(:last-child) {
      margin-right: 3em;
    }

    a {
      color: var(--black);
    }
  }
}
