@import "~bootstrap/scss/functions";
@import "../../../../src/assets/styles/variables";
@import "~bootstrap/scss/mixins";

.container {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
  @include make-row(0);
  @include make-container();

  .client {
    position: absolute;
    top: 0;
    left: 0;
  }

  .title {
    // @include make-col-ready();
    // @include make-col(12);
  }

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
