@import "~bootstrap/scss/functions";
@import "../../../../src/assets/styles/variables";
@import "~bootstrap/scss/mixins";

$dark: #000c1a;

.container {
  @include make-container(0);

  .slate {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 5em;
    margin: 2em 0;
    color: $light !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    @include make-row();

    @media (min-height: map-get($map: $container-max-widths, $key: md)) {
      min-height: calc(var(--vh, 1vh) * 100);
    }
    @media (min-height: map-get($map: $container-max-widths, $key: lg)) {
      min-height: calc(var(--vh, 1vh) * 75);
    }
    @media (min-height: map-get($map: $container-max-widths, $key: xl)) {
      min-height: calc(var(--vh, 1vh) * 50);
    }
    @media screen and (prefers-color-scheme: light) {
      background-color: rgba($dark, 0.2);
      background-blend-mode: soft-light;
    }
    @media screen and (prefers-color-scheme: dark) {
      background-color: rgba($dark, 0.8);
      background-blend-mode: multiply;
    }

    &::before,
    &::after {
      position: absolute;
      z-index: 1;
      content: "";
      @media screen and (prefers-color-scheme: light) {
        @include gradient-y($light, rgba($light, 0));
      }
      @media screen and (prefers-color-scheme: dark) {
        @include gradient-y(var(--dark), rgba($dark, 0));
      }
    }

    &::before {
      top: -1px;
      right: 0;
      bottom: 85%;
      left: 0;
    }

    &::after {
      top: 85%;
      right: 0;
      bottom: -1px;
      left: 0;
      transform: scaleY(-1);
    }

    .client {
      z-index: 2;
      display: flex;
      flex: 1 0 100%;
      align-items: center;
      @include make-container();
      @include make-container-max-widths();

      @media (max-height: map-get($map: $container-max-widths, $key: lg)) {
        min-height: calc(var(--vh, 1vh) * 25);
      }
    }

    .title {
      z-index: 2;
      margin-bottom: 2em;
      @include make-container();
      @include make-container-max-widths();
    }

    .excerpt {
      z-index: 2;
      @include make-container();
      @include make-container-max-widths();
    }

    .details {
      z-index: 2;
      @include make-row();
      @include make-container();
      @include make-container-max-widths();
      @include row-cols(1);

      @include media-breakpoint-up(md) {
        @include row-cols(3);
      }
    }

    .skills,
    .platforms {
      @include list-unstyled();
    }
  }

  .content {
    position: relative;
    padding: 2em 0;
    margin: 2em 0;
    @include make-container();
    @include make-container-max-widths();

    img {
      height: auto;
    }
  }
}
