@import "~bootstrap/scss/functions";
@import "../../../src/assets/styles/variables";
@import "~bootstrap/scss/mixins";

@import "SiteHeader";
@import "SiteFooter";

@import "Home";

.wordpress {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

:root {
  --primary: #f2af2d;
  --secondary: #6ec1e4;
  --accent: #61ce70;
  --accent2: #cf4a93;
  --background: #000c1a;
  --dark: #23282d;

  @media screen and (prefers-color-scheme: light) {
    --material: var(--light);
    --text: var(--dark);
  }
  @media screen and (prefers-color-scheme: dark) {
    --material: var(--dark);
    --text: var(--light);
  }
}

.disruptv {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  color: var(--text);
  background-color: var(--material);
  @include make-container();

  .spacer {
    flex-grow: 1;
  }

  button,
  .button {
    background-color: var(--primary);
    @include button-variant($primary, transparent);
    @include button-size(0.5em, 1em, 1rem, 1, 4px);
  }

  h1,
  h2,
  h3 {
    font-family: "Texta Alt", sans-serif;
  }
}
