@import "~bootstrap/scss/functions";
@import "_variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap.scss";

@import "~@wordpress/base-styles/colors";
@import "~@wordpress/base-styles/variables";
@import "~@wordpress/base-styles/mixins";
@import "~@wordpress/base-styles/breakpoints";
@import "~@wordpress/base-styles/animations";
@import "~@wordpress/base-styles/z-index";
@import "~@wordpress/block-library/src/style.scss";

$primary: #f2af2d;
$secondary: #6ec1e4;
$tertiary: #cf4a93;
$accent: #61ce70;
$background: #000c1a;
$dark: #000c1a;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --accent: #{$accent};
  --background: #{$background};
  --dark: #{$dark};
  --timing: 1s;

  @media screen and (prefers-color-scheme: light) {
    --material: #{$light};
    --text: #{$dark};
    --logo: url("../media/disruptv-logo--onLight.svg");
  }
  @media screen and (prefers-color-scheme: dark) {
    --material: #{$dark};
    --text: #{rgba($light, 0.8)};
    --logo: url("../media/disruptv-logo--onDark.svg");
  }
}

html {
  overflow: hidden;
}

body {
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  overflow-y: overlay;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: var(--text);
  background-color: var(--material);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // &::-webkit-scrollbar {
  //   width: 0.5em;
  // }
  // &:hover::-webkit-scrollbar {
  //   width: 0.5em;

  //   &--track {
  //     background: var(--material);
  //   }

  //   /* Handle */
  //   &-thumb {
  //     transition: background-color 25s ease;

  //     @media screen and (prefers-color-scheme: light) {
  //       background-color: var(--dark);
  //     }
  //     @media screen and (prefers-color-scheme: dark) {
  //       background-color: var(--light);
  //     }

  //     &:hover {
  //       background-color: var(--primary);
  //     }
  //   }
  // }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: calc(var(--vh, 1vh) * 100);
  @include make-container();
}
